{% extends 'layout.html' %}
{% block nav_items %}
    <a href="/rector/" class="navbar-item">Главная</a>
{% endblock %}
{% block body %}

    <div class="columns is-centered">
        <div class="column is-half box">
            <h2 class="title is-5">Новый предмет</h2>
            <form action="/subjects/" method="POST">
                {% csrf_token %}
                <div class="field">
                    <label class="label">Название</label>
                    <div class="control">
                        <input class="input" name="name" type="text">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Код предмета</label>
                    <div class="control">
                        <input class="input" name="code" type="text">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="button is-primary" name="submit" type="submit" value="Создать">
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}